Repository MJU-Coin/22-W-DB, pull requests merged in 2023-01, with the labels that each got.

#2 [1주차]_1장_데이터베이스시스템_김보겸
  ch1/2조/[1주차]_1장_데이터베이스시스템_김보겸.md
Labels: 요약 자료, Chapter 01, 2조

#5 [1주차]_1장_데이터베이스시스템_김민
  ch1/1조/README.md
Labels: 발표 자료, Chapter 01, 1조

#6 [1주차]_2장_관계 데이터 모델_김민
  ch2/1조/[1주차]_2장_관계 데이터 모델_김민.md
Labels: 요약 자료, Chapter 02, 1조

#38 [1주차]_2장_관계데이터모델_이재혁
  ch2/2조/[1주차]_2장_관계 데이터 모델_이재혁.md
Labels: 요약 자료, Chapter 02, 2조

#37 [1주차]_1장_데이터베이스시스템_이재혁
  ch1/2조/[1주차]_1장_데이터베이스시스템_이재혁.md
Labels: 요약 자료, Chapter 01, 2조

#23 [1주차]_1장_데이터베이스시스템_고건
  ch1/1조/README.md
  ch1/1조/[1주차]_1장_데이터베이스시스템_고건.md
Labels: 요약 자료, Chapter 01, 1조

#19 [1주차]_1장_데이터베이스시스템_김세빈
  ch1/2조/README.md
Labels: 발표 자료, Chapter 01, 2조

#24 [1주차]_2장_관계데이터모델_고건
  ch2/1조/README.md
Labels: 발표 자료, Chapter 02, 1조

#29 [1주차]_2장_관계데이터모델_백해준
  ch2/2조/[1주차]_2장_관계데이터모델_백해준.md
Labels: 요약 자료, Chapter 02, 2조

#22 [1주차]_2장_관계데이터모델_김영환
  ch2/1조/[1주차]_2장_관계데이터베이스모델_김영환.md
Labels: 요약 자료, Chapter 02, 1조

#21 [1주차]_1장_데이터베이스시스템_김영환
  ch1/1조/[1주차]_1장_데이터베이스시스템_김영환.md
Labels: 요약 자료, Chapter 01, 1조

#16 [1주차]_2장_관계데이터모델_김보겸
  ch2/2조/README.md
Labels: 발표 자료, Chapter 02, 2조

#20 [1주차]_2장_관계데이터모델_김세빈
  ch2/2조/[1주차]_2장_관계데이터모델_김세빈.md
Labels: 요약 자료, Chapter 02, 2조

#14 [1주차]_1장_데이터베이스시스템_박가현
  ch1/1조/[1주차]_1장_데이터베이스시스템_박가현.md
Labels: 요약 자료, Chapter 01, 1조

#15 [1주차]_2장_관계데이터모델_박가현
  ch2/1조/[1주차]_2장_관계데이터모델_박가현.md
Labels: 요약 자료, Chapter 02, 1조

#10 [1주차]_2장_관계데이터모델_신현진
  ch2/2조/[1주차]_2장_관계데이터모델_신현진.md
Labels: 요약 자료, Chapter 02, 2조

#8 [1주차]_2장_관계 데이터 모델_모유경
  ch2/1조/[1주차]_2장_관계 데이터 모델_모유경.md
Labels: 요약 자료, Chapter 02, 1조

#9 [1주차]_1장_데이터베이스시스템_신현진
  ch1/2조/[1주차]_1장_데이터베이스시스템_신현진.md
Labels: 요약 자료, Chapter 01, 2조

#7 [1주차]_1장_데이터베이스시스템_모유경
  ch1/1조/ [1주차]_1장_데이터베이스시스템_모유경.md
Labels: 요약 자료, Chapter 01, 1조

#70 [2주차]_7장_정규화_모유경
  ch7/1조/README.md
Labels: 발표 자료, 1조, Chapter 07

#98 [2주차]_7장_정규화_고건
  ch7/1조/[2주차]_7장_정규화_고건.md
Labels: 요약 자료, 1조, Chapter 07

#97 [2주차]_6장_데이터모델링_고건
  ch6/1조/[2주차]_6장_데이터모델링_고건
Labels: 요약 자료, 1조, Chapter 06

#78 [2주차]_7장_정규화_신현진
  ch7/2조/README.md
Labels: 발표 자료, 2조, Chapter 07

#84 [2주차]_6장_데이터모델링_이재혁
  ch6/2조/[2주차]_6장_데이터 모델링_이재혁.md
Labels: 요약 자료, 2조, Chapter 06

#79 [2주차]_6장_데이터모델링_신현진
  ch6/2조/README.md
Labels: 발표 자료, 2조, Chapter 06

#68 [2주차]_6장_데이터모델링_김보겸
  ch6/2조/[2주차]_6장_데이터모델링_김보겸.md
Labels: 요약 자료, 2조, Chapter 06

#71 [2주차]_6장_데이터모델링_김세빈
  ch6/2조/[2주차]_6장_데이터모델링_김세빈.md
Labels: 요약 자료, 2조, Chapter 06

#72 [2주차]_7장_정규화_김보겸
  ch7/2조/[2주차]_7장_정규화_김보겸.md
Labels: 요약 자료, 2조, Chapter 07

#74 [2주차]_7장_정규화_김세빈
  ch7/2조/[2주차]_7장_정규화_김세빈.md
Labels: 요약 자료, 2조, Chapter 07

#69 [2주차]_6장_데이터모델링_모유경
  ch6/1조/[2주차]_6장_데이터모델링_모유경.md
Labels: 요약 자료, 1조, Chapter 06

#67 [2주차]_7장_정규화_김민
  ch7/1조/[2주차]_7장_정규화_김민.md
Labels: 요약 자료, 1조, Chapter 07

#66 [2주차]_6장_데이터 모델링_김민
  ch6/1조/[2주차]_6장_데이터 모델링_김민.md
Labels: 요약 자료, 1조, Chapter 06

#65 [2주차]_7장_정규화_김영환
  ch7/1조/[2주차]_7장_정규화_김영환.md
Labels: 요약 자료, 1조, Chapter 07

#63 [2주차]_7장_정규화_박가현
  ch7/1조/[2주차]_7장_정규화_박가현.md
Labels: 요약 자료, 1조, Chapter 07

#62 [2주차]_6장_데이터모델링_박가현
  ch6/1조/[2주차]_6장_데이터모델링_박가현.md
Labels: 요약 자료, 1조, Chapter 06

#61 [2주차]_6장_데이터모델링_김영환
  ch6/1조/README.md
Labels: 발표 자료, 1조, Chapter 06

#118 [3주차]_8장_트랜잭션,동시성 제어, 회복_이재혁
  ch8/2조/[3주차]_8장_트랜잭션,동시성 제어, 회복_이재혁.md
Labels: 발표 자료, 2조, Chapter 08

#106 [3주차]_8장_트랜잭션,동시성 제어, 회복_박가현
  ch8/1조/README.md
Labels: 발표 자료, 1조, Chapter 08

#115 [3주차]_8장_트랜잭션,동시성 제어,회복_고건
  ch8/1조/[3주차]_8장_트랜잭션,동시성 제어,회복_고건.md
Labels: 요약 자료, 1조, Chapter 08

#114 [3주차]_8장_트랜잭션,동시성제어,회복_김보겸
  ch8/2조/[3주차]_8장_트랜잭션,동시성제어,회복_김보겸.md
Labels: 요약 자료, 2조, Chapter 08

#113 [3주차]_8장_트랜잭션,동시성 제어, 회복_모유경
  ch8/1조/[3주차]_8장_트랜잭션,동시성 제어, 회복_모유경.md
Labels: 요약 자료, 1조, Chapter 08

#107 [3주차]_8장_트랜잭션,동시성 제어, 회복_김세빈
  ch8/2조/[3주차]_8장_트랜잭션,동시성 제어, 회복_김세빈.md
Labels: 요약 자료, 2조, Chapter 08

#109 [3주차]_8장_트랜잭션,동시성 제어, 회복_백해준
  ch8/2조/[3주차]_8장_트랜잭션,동시성 제어, 회복_백해준.md
Labels: 요약 자료, 2조, Chapter 08

#108 [3주차]_8장_트랜잭션,동시성제어,회복_신현진
  ch8/2조/[3주차]_8장_트랜잭션,동시성제어,회복_신현진.md
Labels: 요약 자료, 2조, Chapter 08

#105 [3주차]_8장_트랜잭션,동시성제어,회복_김영환
  ch8/1조/[3주차]_8장_트랜잭션,동시성제어,회복_김영환.md
Labels: 요약 자료, 1조, Chapter 08

#104 [3주차]_3장_SQL 기초_김민
  ch3/1조/[3주차]_3장_SQL 기초_김민.md
Labels: 요약 자료, Chapter 03, 1조

#103 [3주차]_8장_트랜잭션, 동시성 제어, 회복_김민
  ch8/1조/[3주차]_8장_트랜잭션, 동시성 제어, 회복_김민.md
Labels: 요약 자료, 1조, Chapter 08
